*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set minimum height to viewport height */
}
body{
  background: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
  margin-top: auto; 
  margin-bottom: auto;
}

main h2{
  font-family: "Spirax", system-ui;
  font-weight: 800;
  font-style: normal;
  color: rgb(4, 153, 42);
  
}
#logoText{

display: flex;
flex-direction: row;
align-items: center;
gap: 1rem;

}
header div{
  display:flex ;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;

}

.mainDiv{
  padding: 2rem;
  margin: 3rem;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px darkgreen;
  border-radius: 2rem;    
}
#form1{
  display: flex;
  flex-direction: column;
  gap: .55rem;
}
#form1 input{
  border-bottom: solid 1px darkgreen ;
  outline: none;
}
#form1 button{
  margin-top: 2rem;
  background:linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
  padding: .5rem;
  border-radius: 5rem;
  font-size: 1.52rem;
}

#passwordError1,#passwordError2,#nameError,#emailError,#totalError {
  color: red;
}




/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 200px) and (max-width: 767.98px) {
  .mainDiv{
    padding: 2rem;
    margin-left: 2rem;
    margin-right:2rem;
    border: solid 1px darkgreen;
    border-radius: 2rem;  }

  /* Your styles for small screens go here */
}


#loggedIn{

  margin-top: 2rem;
  background:linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
  padding: .5rem;
  border-radius: 5rem;
  font-size: 1.52rem;
}
#loggedin{
  margin-top: 2rem;
}


/* 
<span id="nameError">Name cannot be blank.</span>
<span id="emailError">Email address cannot be blank.</span>
<span id="passwordError1">Password must contain at least one uppercase letter, one lowercase letter, one special character, one digit, and be at least 8 characters long.</span>
<span id="totalError">Please fill in all required fields.</span>
*/
window.location.href = "login.html";